<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>問題一覧</title>
</head>
<body>
    <div class="container">
        <h1>問題一覧表</h1>
        <ul>
            {% for question in questions %}
                <li>
                    <a href="{% url 'question_detail' question.pk %}">問題ID: {{ question.questions_id }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
