body {
  height: 100vh; /* ビューポートの高さを100%に設定 */
  max-width: 650px; /* 横幅を40%に設定 */
  margin: auto; /* セクションを中央に配置 */
  overflow-y: scroll; /* 縦スクロールを有効に */
}

.highlight {
  background-color: #e3cdba; /* ハイライトの色 */
  position: relative; /* 子要素の絶対配置を可能にする */
  padding: 20px; /* パディングを追加 */
  width: 650px; /* ビューポートの幅全体 */
  height: 100vh; /* ビューポートの高さ全体 */
}
.character {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 800px;
}

.character img {
  width: 60%; /* アバターの幅 */
}

.label-bar-container {
position: absolute; /* 右上に固定配置 */
top: 20px; /* 上から20pxの位置に配置 */
right: 20px; /* 右から20pxの位置に配置 */
display: flex; /* 横並びに配置 */
align-items: center; /* 縦方向の中央揃え */
gap: 10px; /* ラベルとバーの間のスペース */
}

.bar-container {
width: 150px; /* バーの最大幅 */
background-color: #ddd;
border-radius: 5px;
overflow: hidden;
}

.bar {
height: 30px;
background-color: #4caf50; /* プログレスバーの色 */
width: 75%; /* 初期幅（例：75%） */
transition: width 0.5s; /* 幅の変化にアニメーション */
}

.sikaku{
position: absolute; /* 右上に固定配置 */
top: 60px; /* 上から20pxの位置に配置 */
right: 80px; /* 右から20pxの位置に配置 */
display: flex; /* 横並びに配置 */
align-items: center; /* 縦方向の中央揃え */
}

.menu-bar {
display: flex;
justify-content: center; /* メニューを中央に配置 */
gap: 15px; /* ボタン間のスペース */
padding: 10px 20px;
margin-top: 10px; /* キャラクター画像との間隔を狭くする */
background-color:white;
border-radius: 15px; /* 丸みを設定 */
}

.menu-item {
color: white;
background-color: #c6d166;
text-decoration: none; /* リンクの下線を消す */
padding: 10px 15px;
border-radius: 10px;
cursor: pointer;
transition: background-color 0.3s;
}


.menu-item:hover {
background-color: #5c821a; /* ホバー時の色 */
}
